{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorctut icon" href="{% static 'image/color_palette_brush_paint_icon_193916.ico' %}" type="image/x-icon">
    <title>Sokol Design</title>
    {% block title %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <div id="footer" class="container-fluid">
        <div class="row row-col-2">
          <div class="col-sm-6"><p>This site is an intellectual property of Sokol Design</p></div>
          <div class="col"><p>My social media <a href="https://instagram.com/_sokolenok_1?utm_medium=copy_link"><img id="instagram" src="{% static 'image/instagram.svg' %}"></a></p></div>
        </div>
      </div>
</body>
</html>