{% extends 'base.html'%}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <p><select style="width: 400px;" multiple="multiple" size="7" id="employee" name="employee">
        {% for name, department in employee %}
            <option value="{{ name }}" >{{ name }} department:{{ department }}</option>
        {% empty %}
            <option>We don't have some employee</option>
        {% endfor %}
    </select></p>
    <p><input type="submit" value="delete" name="delete"></p>
    {% if flag %}
        <h3>Choose any employee</h3>
    {% endif %}
    <p>If you want update department from the employee choose employee and department at the form</p>
    {{ form.as_p }}
    <input type="submit" value="edit" name="edit">
</form>
{% endblock %}